<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/iis1314_patrones/src/iis1314/designPatterns/strategy/StrategyDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="iis1314.designPatterns.strategy.StrategyDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="iis1314_patrones"/>
</launchConfiguration>
